* {
    /*Borrar parametros de navegadores*/
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Montserrat", sans-serif;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    background-color: #ffff;
  }

//*Utilidades
.container {
    @media (min-width: 576px)
    {
    max-width: 540px;     
    }
    @media (min-width: 768px)
    {
    max-width: 720px;
    }
    @media (min-width: 992px)
    {
    max-width: 960px;
    }
    @media (min-width: 1200px)
    {
    max-width: 1140px;
    }
    @media (min-width: 1400px)
    {
    max-width: 1320px;
    }
}

.mr {
    margin-right: 16px; /* Ajusta el margen como desees */
}

.active {
    color:red;
}

.background-carrusel {
    background-image: url('src/img/imagen-banner.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
