.d-flex {
    display: flex;
}
.justify-content-space-between {
    justify-content: space-between;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-align-items-center {
    align-items: center;
}
.container-full {
    padding-left: 40px;
    padding-right: 40px;
}
.m-vertical {
    margin-top: 32px;
    margin-bottom: 32px;
}
.w-100 {
    width: 100%;
}
.w-auto {
    width: auto;
}
.d-none {
    display: none;
}
.d-block {
    display: block;
}
/*Iconos*/
.menu-icon {
    font-size: 24px;
}

/*Padding*/
.pv-100 {
padding-top: 20rem;
padding-bottom: 20rem;
}

$breakpoint-sm: 576px;
$breakpoint-md: 768px;

@media (max-width: $breakpoint-md) {
    .d-sm-none {
        display: none;
    }
    .d-sm-block {
        display: block;
    }
}